*{
	padding:0;
	margin:0;
}
html,body{
	width: 100%;
	height:100%;
	font-family: 'Baloo 2', cursive;
}
.bg--dark{
	background-color: #181818;
	transition: 0.6s;
}
/*header*/
.container-fluid{
	width:100% !important;
	padding:0;
	height: auto;
	margin:auto;
}
div.slide{
	width:100%;
	height:90vh;
	background-image: url('../img/title/bg-slideshow-v1.webp');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}
.slide__img{
	position: absolute;
	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
}
.slide__img img{
	width:100%
}
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	background: white;
	border-radius: 10px;
	z-index: 5;
	transition: 0.6s;
}
.dropdown:hover .dropdown-content{
	display: block;
	transition: 0.6s;
}
.container-fluid ul li{
	line-height: 2rem;
	text-transform: uppercase;
}
.dropdown-content a:hover{
	background: #FFC107;
	border-radius: 10px;
	transition: 0.6s;
}
.form-menu i{
	color:white;
	font-weight: 600;
	font-size: 20px;
	margin:0 10px;
}
.form-menu i:hover{
	color:#146FC3;
	transition: 0.6s;
}
.btn-white{
    color: white;
    background-color: #23272B;
}
.button-header{
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
}
.button__animation{
	font-size: 20px;
	transition: 0.6s;
	display: inline-block;
	position: relative;
	border-radius: 15px;
}
.button__animation::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .4s;
    left:0;
    top:0;
    border-radius: 15px;
}
.button__animation:hover{
	transform: translateY(-10px);
}
.button__animation:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-white::after{
    background-color: #23272B;
    z-index: -1;
}
.introduce-product{
	width:100%;
}
.col-sm-8,.col-sm-4,.col-sm-6{
	padding:0;
}
.introduce-product img{
	width:100%;
	height:90%;
}
.slide-position{
	position: absolute;
	right:0%;
	top:20%;
	visibility: hidden;
	opacity: 0;
}
.active-slide{
	visibility: visible;
	opacity: 1;
}
.sub-title{
	color:white;
	text-transform: uppercase;
	font-size: 40px;
}
.main-title{
	color:white;
	text-transform: uppercase;
	font-size:60px;
}
#next, #prev{
	font-size: 60px;
	color:#fff;
	opacity: 0.6;
	position: absolute;
	top:50%;
	transition: 0.6s;
}
#next{
	right:20px;
}
#prev{
	left:20px;
}
#next:hover, #prev:hover{
	color:black;
	transition: 0.6s;
}
/* content */
.bg-news{
	background-image: url(../img/title/bg-blog.webp);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.bg-subscribe{
	width:100%;
	height:400px;
	background-image: url('../img/product/bg-newsletter-v1.webp');
	display: flex;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
}
.introduce-product__type1{
	position: relative;
	overflow:hidden;
  	box-sizing: border-box;
}
.introduce-product__text1{
	position: absolute;
	left: 50%;
	bottom:20%;
	transform: translate(-50%,-20%);
	text-align: center;
	color:black;
}
.introduce-product__text1 h2{
	font-weight: bold;
	font-size: 35px;
}
.introduce-product__text1 h3{
	font-size: 20px;
}
.introduce-product__text2{
	position: absolute;
	left: 10%;
	top:20%;
	text-align: center;
	color:white;
}
.introduce-product__text2 h2, .introduce-product__text3 h2{
	font-size: 50px;
}
.introduce-product__text2 h3, .introduce-product__text3 h3{
	font-size: 30px;
}
.introduce-product__text3{
	position: absolute;
	right: 10%;
	bottom:20%;
	text-align: center;
	color:white;
}
.hover-scale{
	width: 100%;
	height: auto;
	transition: 2s;
	overflow: hidden;
}
.introduce-product__type1:hover .hover-scale{
	transition: 2s;
	transform: scale(1.05);
}
/*footer*/
footer{
	background: #222222;
	padding:40px 0 0 0;
	color:white;
}
footer div div div div img{
	box-shadow: 0 0 5px pink;
	margin:10px 0;
	padding:5px;
}
footer div div div div img:hover{
	box-shadow: 0 0 5px pink, 0 0 20px pink;
}
footer{
	text-align: center;
}
.footer-bottom{
	font-size: 1rem;
}
.footer-bottom h6{
	font-size: 1.5rem;
}
.footer-bottom p{
	color: grey;
}
.footer-bottom i{
	font-size: 25px;
	margin:10px;
	transition: 0.6s;
}
.footer-bottom i:nth-child(1):hover{
	color:#3A5A98;;
	transition: 0.6s;
}
.footer-bottom i:nth-child(2):hover{
	color:#2DAAE2;;
	transition: 0.6s;
}
.footer-bottom i:nth-child(3):hover{
	color:#EF3739;;
	transition: 0.6s;
}
.footer-bottom i:nth-child(4):hover{
	color:#A26F56;;
	transition: 0.6s;
}
.footer-bottom a{
	color:grey;
}
.footer-bottom>a:hover{
	color:orange;
}
.footer-under{
	background: #0000007a;
	padding:20px 0;
	font-size: 20px;
}
/*end footer*/
/* animation */
.main-title-go-to-left{
	animation-name: main-title-go-to-left;
	animation-fill-mode: forwards;
	animation-duration: 2s;
}
.sub-title-go-to-down{
	animation-name: sub-title-go-to-down;
	animation-fill-mode: forwards;
	animation-duration: 2s;
}
.shose-animation{
	animation-name: shose-animation;
	animation-fill-mode: forwards;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}
.button-go-to-up{
	animation-name: button-go-to-up;
	animation-duration: 2s;
}
@-webkit-keyframes button-go-to-up{
	0%{
		opacity: 0;
		transform: translateY(50px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}
@-webkit-keyframes main-title-go-to-left{
	0%{
		opacity: 0;
		transform: translateX(300px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@-webkit-keyframes sub-title-go-to-down{
	0%{
		opacity: 0;
		transform: translateY(-100px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}
@-webkit-keyframes shose-animation{
	0%{
		transform: translateX(-30px);
	}
	50%{
		transform: translateX(30px);
	}
	100%{
		transform: translateX(-30px);
	}
}